In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
gdp_file = "GDP By Country.csv"
gdp_df = pd.read_csv(gdp_file)
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.1,548888895.6,546666677.8,751111191.1,800000044.4,1.006667e+09,...,1.243909e+10,1.585657e+10,1.780429e+10,1.990732e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.904636e+10,1.954398e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.030716e+10,8.379950e+10,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.188368e+10,1.303854e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [21]:
gdp_df.drop('2018',axis=1, inplace=True)
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.1,548888895.6,546666677.8,751111191.1,800000044.4,1.006667e+09,...,1.010923e+10,1.243909e+10,1.585657e+10,1.780429e+10,1.990732e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.904636e+10,1.954398e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.853861e+10,7.030716e+10,8.379950e+10,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.188368e+10,1.303854e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09

In [24]:
clean_gdp = gdp_df.dropna()
final_gdp = clean_gdp.drop(clean_gdp.columns.to_series()["1960":"1989"],axis=1)
final_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
11,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,3.108380e+11,3.253580e+11,3.248780e+11,3.115290e+11,3.222010e+11,3.672160e+11,...,1.052580e+12,9.264480e+11,1.144260e+12,1.394280e+12,1.543410e+12,1.573700e+12,1.464960e+12,1.349030e+12,1.208040e+12,1.323420e+12
12,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,1.664630e+11,1.737940e+11,1.950780e+11,1.903800e+11,2.035350e+11,2.410380e+11,...,4.302940e+11,4.001720e+11,3.918930e+11,4.311200e+11,4.094250e+11,4.300690e+11,4.418850e+11,3.820660e+11,3.908000e+11,4.165960e+11
14,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.132101e+09,1.167398e+09,1.083038e+09,9.386326e+08,9.250306e+08,1.000428e+09,...,1.611836e+09,1.781455e+09,2.032135e+09,2.235821e+09,2.333308e+09,2.451625e+09,2.705783e+09,3.104395e+09,2.959185e+09,3.172416e+09
15,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,2.064310e+11,2.116380e+11,2.360380e+11,2.259250e+11,2.461950e+11,2.895670e+11,...,5.186260e+11,4.845530e+11,4.835480e+11,5.270080e+11,4.978840e+11,5.209250e+11,5.307710e+11,4.550400e+11,4.675460e+11,4.926810e+11
16,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,1.959965e+09,1.986438e+09,1.695315e+09,2.274558e+09,1.598076e+09,2.169627e+09,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.246697e+09