In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
population = "cleanpopulation.csv"
pop_df = pd.read_csv(population)
pop_df.set_index('Country',inplace=True)
pop_df

,1990 (Population),1991 (Population),1992 (Population),1993 (Population),1994 (Population),1995 (Population),1996 (Population),1997 (Population),1998 (Population),1999 (Population),...,2009 (Population),2010 (Population),2011 (Population),2012 (Population),2013 (Population),2014 (Population),2015 (Population),2016 (Population),2017 (Population),Unnamed: 64 (Population)
Country,,,,,,,,,,,,,,,,,,,,,
Aruba,62149.0,64622.0,68235.0,72504.0,76700.0,80324.0,83200.0,85451.0,87277.0,89005.0,...,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,NaN
Afghanistan,12412308.0,13299017.0,14485546.0,15816603.0,17075727.0,18110657.0,18853437.0,19357126.0,19737765.0,20170844.0,...,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,NaN
Angola,11848386.0,12248901.0,12657366.0,13075049.0,13503747.0,13945206.0,14400719.0,14871570.0,15359601.0,15866869.0,...,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,NaN
Albania,3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,3148281.0,3128530.0,3108778.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
Andorra,54509.0,56671.0,58888.0,60971.0,62677.0,63850.0,64360.0,64327.0,64142.0,64370.0,...,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,1862000.0,1898000.0,1932000.0,1965000.0,1997000.0,2029000.0,2059000.0,2086000.0,1966000.0,1762000.0,...,1761474.0,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,NaN
"Yemen, Rep.",11709993.0,12302124.0,12954155.0,13634076.0,14297613.0,14913315.0,15469274.0,15975668.0,16450310.0,16921149.0,...,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,NaN
South Africa,36800509.0,37718950.0,38672607.0,39633750.0,40564059.0,41435758.0,42241011.0,42987461.0,43682260.0,44338543.0,...,50477011.0,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,NaN
Zambia,8036845.0,8246656.0,8451347.0,8656486.0,8869740.0,9096607.0,9339733.0,9597609.0,9866476.0,10140561.0,...,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,NaN
Zimbabwe,10432421.0,10680995.0,10900502.0,11092766.0,11261744.0,11410714.0,11541217.0,11653242.0,11747072.0,11822719.0,...,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,NaN

In [3]:
gdp = "clean_gdp_file.csv"
gdp_df = pd.read_csv(gdp)
gdp_df.head()

,Country,1990 (GDP),1991 (GDP),1992 (GDP),1993 (GDP),1994 (GDP),1995 (GDP),1996 (GDP),1997 (GDP),1998 (GDP),...,2008 (GDP),2009 (GDP),2010 (GDP),2011 (GDP),2012 (GDP),2013 (GDP),2014 (GDP),2015 (GDP),2016 (GDP),2017 (GDP)
0,Australia,3.108380e+11,3.253580e+11,3.248780e+11,3.115290e+11,3.222010e+11,3.672160e+11,4.003030e+11,4.345680e+11,3.988990e+11,...,1.052580e+12,9.264480e+11,1.144260e+12,1.394280e+12,1.543410e+12,1.573700e+12,1.464960e+12,1.349030e+12,1.208040e+12,1.323420e+12
1,Austria,1.664630e+11,1.737940e+11,1.950780e+11,1.903800e+11,2.035350e+11,2.410380e+11,2.372510e+11,2.127900e+11,2.182600e+11,...,4.302940e+11,4.001720e+11,3.918930e+11,4.311200e+11,4.094250e+11,4.300690e+11,4.418850e+11,3.820660e+11,3.908000e+11,4.165960e+11
2,Burundi,1.132101e+09,1.167398e+09,1.083038e+09,9.386326e+08,9.250306e+08,1.000428e+09,8.690339e+08,9.728963e+08,8.937708e+08,...,1.611836e+09,1.781455e+09,2.032135e+09,2.235821e+09,2.333308e+09,2.451625e+09,2.705783e+09,3.104395e+09,2.959185e+09,3.172416e+09
3,Belgium,2.064310e+11,2.116380e+11,2.360380e+11,2.259250e+11,2.461950e+11,2.895670e+11,2.813580e+11,2.548140e+11,2.606020e+11,...,5.186260e+11,4.845530e+11,4.835480e+11,5.270080e+11,4.978840e+11,5.209250e+11,5.307710e+11,4.550400e+11,4.675460e+11,4.926810e+11
4,Benin,1.959965e+09,1.986438e+09,1.695315e+09,2.274558e+09,1.598076e+09,2.169627e+09,2.361117e+09,2.268302e+09,2.455093e+09,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.246697e+09

In [4]:
spending = "cleanspending.csv"
spending_df = pd.read_csv(spending)
spending_df.head()

,Country,1990 (Spend),1991 (Spend),1992 (Spend),1993 (Spend),1994 (Spend),1995 (Spend),1996 (Spend),1997 (Spend),1998 (Spend),...,2009 (Spend),2010 (Spend),2011 (Spend),2012 (Spend),2013 (Spend),2014 (Spend),2015 (Spend),2016 (Spend),2017 (Spend),2018 (Spend)
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.518695e+08,2.981469e+08,3.258070e+08,2.385834e+08,2.171941e+08,2.682271e+08,1.995186e+08,1.858783e+08,1.914071e+08,1.980863e+08
1,Angola,1.751153e+09,1.031248e+09,7.941388e+08,1.774398e+09,5.949912e+08,2.338437e+08,1.597419e+08,4.567805e+08,1.702783e+08,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
2,Albania,NaN,NaN,3.155966e+07,3.928984e+07,4.964950e+07,5.090752e+07,4.571336e+07,2.982549e+07,3.363805e+07,...,1.827369e+08,1.858932e+08,1.970068e+08,1.832047e+08,1.800155e+08,1.781204e+08,1.323507e+08,1.308532e+08,1.443827e+08,1.804887e+08
3,Arab World,3.651229e+10,4.103510e+10,3.281075e+10,2.960635e+10,2.941337e+10,2.668432e+10,2.648612e+10,3.548406e+10,3.932270e+10,...,9.150404e+10,9.797637e+10,1.080000e+11,1.220000e+11,1.430000e+11,1.550000e+11,1.380000e+11,1.120000e+11,1.190000e+11,1.130000e+11
4,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.335767e+09,4.010347e+09,...,1.383635e+10,1.750470e+10,1.918176e+10,1.902410e+10,2.356106e+10,2.275507e+10,NaN,NaN,NaN,NaN

In [5]:
connection_string = "postgres:Charlie109:)@localhost:5432/military_spending"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
engine.table_names()

['population', 'spending', 'gdp']

In [9]:
gdp_df.to_sql(name='population', con=engine, if_exists='append', index=True)

KeyError: '1990 (GDP'